@import "tailwindcss";

@theme {
  --color-background: #1a1b26;
  --color-foreground: #c0caf5;
  --color-primary: #7aa2f7;
  --color-secondary: #f7768e;
  --color-secondary-background: #292e42;
  --color-secondary-foreground: #a9b1d6;
  --color-accent: #9ece6a;
  --color-muted: #414868;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial,
    sans-serif;
  background: var(--color-background);
  color: var(--color-foreground);
  line-height: 1.6;
}

@layer base {
  .page {
    @apply w-full h-screen flex justify-center items-start p-10;
  }

  .logo {
    @apply text-lg font-bold bg-linear-to-r from-primary via-secondary to-accent bg-clip-text text-transparent;
  }

  .link {
    @apply hover:text-accent transition duration-200;
  }
}
